.r{
    padding:20px 0 20px 0;
    width:70%;
    max-width: 550px;
    min-width:320px;
    min-height:100px;
    max-height:95%;
    background:white;
    font-size:25px;
    font-family:"BebasBold";
    overflow: auto;
}