.pizza{
     width:0;
     height:0;
     opacity:0.5;
     border-right:8.5em solid purple;
     border-top:8.5em solid transparent;
     border-left:8.5em solid purple;
     border-bottom:8.5em solid purple;
     border-radius: 8.5em;
}
.arrow {
    width: 100%;
    height:100%;
    padding: 20%;
    box-sizing: content-box;
}
.arrow-left {
    transform: rotate(90deg);
}
.arrow-right {
    transform: rotate(-90deg);
}
.arrow-choice {
    width: 100%;
    height: 100%;
}