.pizza{
     width:0;
     height:0;
     opacity:0.5;
     border-right:210px solid purple;
     border-top:210px solid transparent;
     border-left:210px solid purple;
     border-bottom:210px solid purple;
     border-radius: 210px;
}

@media screen and (max-width:770px) and (min-width: 720px){
    .pizza{
        border-right:200px solid purple;
        border-top:200px solid transparent;
        border-left:200px solid purple;
        border-bottom:200px solid purple;
        border-radius: 200px;

    }
}
@media screen and (max-width:719px) and (min-width: 600px){
    .pizza{
        border-right:190px solid purple;
        border-top:190px solid transparent;
        border-left:190px solid purple;
        border-bottom:190px solid purple;
        border-radius: 190px;

    }
}