.pizza{
     width:0;
     height:0;
     opacity:0.5;
     border-right:8.5em solid purple;
     border-top:8.5em solid transparent;
     border-left:8.5em solid purple;
     border-bottom:8.5em solid purple;
     border-radius: 8.5em;
}

/*@media screen and (max-width:770px) and (min-width: 720px){
    .pizza{
        border-right:200px solid purple;
        border-top:200px solid transparent;
        border-left:200px solid purple;
        border-bottom:200px solid purple;
        border-radius: 200px;

    }
}
@media screen and (max-width:719px) and (min-width: 600px){
    .pizza{
        border-right:19px solid purple;
        border-top:19px solid transparent;
        border-left:19px solid purple;
        border-bottom:19px solid purple;
        border-radius: 19px;

    }
}*/