/*! Copyright Ilyas Malgazhdarov */
body {
    margin: 0px;
    width:100%;
    height:100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

select{
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}

.relative{
  position: relative;
}
.flex-column{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.full{
  height:100%;
  width: 100%;
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}.app-shared-components-___header__r___3jLaE{
    top:0;
    left:0;
    height:120px;
    width:100%;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    box-shadow: -1px 0.5px 2px rgb(200,200,200);
}

.app-shared-components-___header__logo___3k9Yg{
    width:20%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left:25px;
    cursor: pointer;
}

.app-shared-components-___header__image___2Uo1B{
    height:90px;
    width:90px;
}

.app-shared-components-___header__upper-padding___2jANx{
    padding-top:120px;
}

.app-shared-components-___header__links___32lQE{
    width:40%;
    height:60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width:830px) and (min-width:430px){
    .app-shared-components-___header__logo___3k9Yg{
        width:30%;
    }

    .app-shared-components-___header__links___32lQE{
        display:none;
    }
}

@media screen and (max-width:429px){
    .app-shared-components-___header__logo___3k9Yg{
        width:45%;
    }
    .app-shared-components-___header__image___2Uo1B{
        height:60px;
        width:60px;
    }
    .app-shared-components-___header__links___32lQE{
        display: none;
    }
    .app-shared-components-___header__r___3jLaE{
        height:70px;
    }
    .app-shared-components-___header__upper-padding___2jANx{
        padding-top:70px;
    }

}.app-shared-components-___background__r___1ysit{
    top:0;
    left:0;
    background-color:rgba(10,10,10,0.8);
}