/*! Copyright Ilyas Malgazhdarov */
body {
    margin: 0px;
    width:100%;
    height:100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

select{
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url(Roboto-Medium-71b4038282314812a3fc337e00d7140f.woff);
}
@font-face {
  font-family: 'RobotoRegular';
  src: url(Roboto-Regular-99433f7d92c3a5c1179fa7ebb1ba0a48.woff);
}

@font-face {
  font-family: 'BebasRegular';
  src: url(AA-BebasNeue-Regular-8518e0e42e48fce04696bb44bef891cb.woff);
}
/*@font-face {
  font-family: 'BebasBold';
  src: url('../../assets/fonts/AA-BebasNeue-Bold.woff');
}*/

.full{
  height:100%;
  width: 100%;
}
.width-full{
  width: 100%;
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-column{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap{
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex-end{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.space-between{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}

.relative{
  position: relative;
}

.enter{
    width:100%;
    border-radius:4px;
    height:46px;
    font-size:17px;
    border:1px solid;
    border-color:#dddddd;
    outline: none;
    padding-left:10px;
    background: white;
}

.error{
  border-color: #F22613;
}

.valid{
  border-color:#90C695;
}

.app-blue{
  background-color:#5877ff;
}

.app-blue-text{
  color:#5877ff;
}

.app-shared-components-___header__r___3jLaE{
    top:0;
    left:0;
    height:120px;
    width:100%;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    background-color: white;
    box-shadow: -1px 0.5px 2px rgb(200,200,200);
}

.app-shared-components-___header__logo___3k9Yg{
    width:20%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left:25px;
    cursor: pointer;
}

.app-shared-components-___header__image___2Uo1B{
    height:90px;
    width:90px;
}

.app-shared-components-___header__upper-padding___2jANx{
    padding-top:120px;
}

.app-shared-components-___header__links___32lQE{
    width:40%;
    height:60px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width:830px) and (min-width:430px){
    .app-shared-components-___header__logo___3k9Yg{
        width:30%;
    }

    .app-shared-components-___header__links___32lQE{
        display:none;
    }
}

@media screen and (max-width:429px){
    .app-shared-components-___header__logo___3k9Yg{
        width:45%;
    }
    .app-shared-components-___header__image___2Uo1B{
        height:60px;
        width:60px;
    }
    .app-shared-components-___header__links___32lQE{
        display: none;
    }
    .app-shared-components-___header__r___3jLaE{
        height:70px;
    }
    .app-shared-components-___header__upper-padding___2jANx{
        padding-top:70px;
    }

}.app-shared-components-___button__root___34FXu{
    background-color: #5877ff;
    margin-top:5px;
    border:0;
    border-radius: 5px;
    max-width: 170px;
    padding:14px 25px 14px 25px;
    font-family: "RobotoRegular";

}
.app-shared-components-___button__root___34FXu:hover{
    opacity:0.8;
}
.app-shared-components-___button__text___Ch-7c{
    color:white;
    font-weight: 400;
    font-size:16px;
}

.app-shared-components-___background__r___1ysit{
    top:0;
    left:0;
    background-color:rgba(10,10,10,0.8);
}.app-shared-components-___errorText__r___2xE2p{
    color:#F22613;
    padding-left:2px;
}.app-shared-components-___formDescriptionText__r___2HvqK{
    font-family: "BebasRegular";
    font-size:25px;
    color:rgb(80,80,80);
    padding-left:4px;
}.app-shared-components-___formDescriptionSmall__r___TlcIa{
    font-family: "RobotoRegular";
    font-size:15px;
    color:rgb(130,130,130);
    padding-left:4px;

}.app-home-components-___bookForm__r___22XhV{
    background: #f0f1ef;
    min-height:580px;
}

.app-home-components-___bookForm__book-form___NsUEH{
    max-width:450px;
    width:50%;
    padding:50px 0 50px 0;

}


@media screen and (max-width:750px){
    .app-home-components-___bookForm__book-form___NsUEH{
        width:100%;
        padding:20px 0 15px 0;
    }
    .app-home-components-___bookForm__form___1oCec{
        padding-bottom:30px;
    }
}
.app-home-components-___form__form___3fx6T{
    width:85%;
    max-width:370px;
}

.app-home-components-___form__day___2vD61{
    width:21%;

}
.app-home-components-___form__month___1Y9nI{
    width:42%;
    margin-left:6%;
}

.app-home-components-___form__year___15sGv{
    width:25%;
    margin-left:6%;
}

.app-home-components-___book__r___1TkTA{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height:260px;
    width:260px;
    padding:0 4px 0px 0;
    box-shadow: 2px 1px 2px rgb(200,200,200);
    white-space: pre-line;
    text-align: right;
    font-size:40px;
    color:white;
}


.app-home-___home__slider-div___1IPgh{
    width:100%;
}@font-face {
  font-family: 'BebasBold';
  src: url(AA-BebasNeue-Bold-524784d2823112db107613f3e047483c.woff);
}