.r{
    position:relative;
    font-family: 'UniSansHeavy';
}
.box2{
    position:absolute;
    top:64%;
    left:0;
    height:24%;
    padding:2%;
    text-align: center;
}

.facts{
    color:white;
    font-size:0.5em;
}

.text{
    color:#fb1611;
    font-size:9em;
    text-shadow:0.025em 0.025em #04eef9;
     position: absolute;
    top:3%;
    left:11%;
    height:40%;
    width:45%;
    transform: rotate(-23deg);
}
