.r{
    position:relative;
    font-family: 'UniSansHeavy';
    color: rgb(70, 8, 11);
}
.box2{
    position:absolute;
    top:35.5%;
    transform: rotate(-12deg);
    left:0;
    height:24%;
    padding:2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 0.8em;
}
.box2 span {
    text-align: center;
}
.facts{
    font-size:0.5em;
}

.text{
    color:white;
    font-size:9em;
    text-shadow:0.035em 0.035em rgb(70, 8, 11);
     position: absolute;
    top:2%;
    left:7%;
    height:40%;
    width:45%;
    /*transform: rotate(-23deg);*/
}
