.r{
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'BebasRegular';
}
.facts{
    font-family: 'AkrobatSemiBold';
    margin-top: 38%;
    margin-left: 40%;
    width:55%;
    height: 75%;
    display: flex;
    flex-direction: column;
    color: black;
}
.image{
    height:35%;
    width:35%;
    margin:0;
}
.small{
    height:1%;
    width:1%;
}
.date{
    position:absolute;
    top: 7.8%;
    left: 7%;
    flex-wrap: wrap;
    width:14%;
}
.text{
    font-size: 0.54em;
    margin:1%;
    line-height: 1.2;
}
.gradient {
    color: white;
    font-size: 5.75em;
    line-height: 0.72;
}
.dot {
    top: 8%;
    left: 70%;
}
.shadow {}