.r{
    display: flex;
    flex-direction: column;
    position: relative;
}
.facts{
    font-family: 'GothamRegular';
    margin-top:11%;
    width:60%;
    height: 75%;
    display: flex;
    flex-direction: column;
}
.image{
    height:35%;
    width:35%;
    margin:0;
}
.small{
    height:1%;
    width:1%;
}
.date{
    position:absolute;
    top:3.8%;
    left:27%;
    flex-wrap: wrap;
    width:14%;
    height:16%;
}
.text{
    font-size: 0.6em;
    margin:1%;
    color:white;
    line-height: 1.2;
}
.gradient {
    background:linear-gradient(180deg, #f57e48, #ffe13a);
    -webkit-background-clip: text; 
     color: transparent;
     font-family: 'BTTF';
     font-size:1.75em;
}
.dot {
    top: 8%;
    left: 70%;
}
.shadow {}