.r{
    font-family: 'Times New Roman';
    color:rgb(50,50,50);
    position: relative;
}
.title{
    font-size: 0.6em;
    width: 50%;
    position: absolute;
    bottom: 66%;
    left: 30%;
    width: 43%;
    text-align: center;
}
.year{
    font-size: 0.6em;
    position: absolute;
    bottom: 60%;
    left: 38%;
}
