.r {
    position: relative;
    font-family: 'BebasBold';
    font-size: 1.2em;
}
.first {
    top: 38%;
    left: 44%;
    width: 35%;
    transform: rotate(24deg);
    text-align: center;
}
.second {
    top: 54%;
    left: 38%;
    width:34%;
    transform: rotate(15deg);
    text-align: center;

}
.third {
    top: 38%;
    left: 19%;
    width: 25%;
    transform: rotate(-54deg);
    text-align: center;
}