.r {
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position:relative;
    font-family:'PeaceSans';
}

.text {
    font-size:3em;
    white-space: pre-line;
    text-align: right;
    margin:5px;
    margin-right:15px;

}

.line {
    position: absolute;
    background-color: rgb(80,80,80);
    height:100%;
    left:3%;
    width:0.4%;
}