.r{
    font-family: 'BebasRegular';
    color:#88006e;
  }
.top-part {
  position:relative;
  width:100%;
  height:25%;
  color:white;
}
.positioned {
  position:absolute;
}
.name {
  bottom: 73%;
  right: 75%;
  font-size: 1.15em;
}
.age {
    top: 9%;
    left: 47%;
    font-size: 1.15em;
}
.days-alive {
  width: 25%;
  top: 62.3%;
  left: 9.5%;
  font-size: 2.8em;
  color: #254d65;
  text-align: center;
}
.bottom-part {
  position:relative;
  width:100%;
  height:75%;
  color: white;
}
.heart-beats {
  font-size: 0.7em;
  top: 15.5%;
  left: 26.7%;
}
.dream-time {
  width: 10%;
  top: 40.3%;
  left: 64.7%;
  text-align: center;
  font-size: 1.8em;
}
.tears-total {
  width: 11%;
  top: 13.75%;
  left: 82%;
  text-align: center;
  font-size: 1.6em;
  font-weight: 900;
  color: #254d65;
}
.tears-sad {
  width: 6%;
  top: 10.3%;
  left: 52.3%;
  text-align: center;
  font-size: 1.1em;
}
.tears-joy {
  width: 6%;
  top: 16.6%;
  left: 52.3%;
  text-align: center;
  font-size: 1.1em;
}
.tears-pain {
  width: 6%;
  top: 23.3%;
  left: 52.3%;
  text-align: center;
  font-size: 1.1em;
}
.eat-in-kilos {
  width: 13%;
  top: 51.3%;
  left: 0.3%;
  text-align: center;
  font-size: 1.2em;
}
.eat-in-elephants {
  width: 13%;
  top: 51.3%;
  left: 23.3%;
  text-align: center;
  font-size: 1.2em;
}
.smiles-count {
  width: 25%;
  top: 65%;
  left: 73.5%;
  font-size: 1.7em;
  text-align: center;
}
.goda {
  font-family: 'RoundsBlack';
  color: #fb7a6a;
  bottom: 46%;
  right: 26.5%;
  font-size: 0.65em;
}
.goda-v2 {color: #153c73;} .goda-v3 {color: #0165bf;}
.name-v2 { color:#0e6a9a; } .name-v3 {color:#0165bf;}
.smiles-count-v2{color:#0e6a9a;} .smiles-count-v3 {color:#0165bf;}
.age-v2 {color:#0e6a9a;} .age-v3 {color:#0165bf;}
.days-alive-v2 {} .days-alive-v3 {color:#0165bf;}
.heart-beats-v2{color:#0e6a9a;} .heart-beats-v3 {color:#0165bf;}
.dream-time-v2 {color:#0e6a9a;} .dream-time-v3 {color:#0165bf;}
.tears-total-v2 {} .tears-total-v3 {color:#0165bf;}
.tears-sad-v2 {color:#0e6a9a;} .tears-sad-v3 {color:#0165bf;}
.tears-joy-v2 {color:#0e6a9a;} .tears-joy-v3 {color:#0165bf;}
.tears-pain-v2 {color:#0e6a9a;} .tears-pain-v3 {color:#0165bf;}
.eat-in-kilos-v2 {color:#0e6a9a;} .eat-in-kilos-v3 {color:#0165bf;}
.eat-in-elephants-v2 {color:#0e6a9a;} .eat-in-elephants-v3 {color:#0165bf;}
