.text {
    left: 48.5%;
    top: 7%;
    line-height: 1.2;
    width: 49%;
    color: #fff;
    font-size: 0.66em;
    font-family: 'GothamRegular';
    position: absolute;

}
.text span {
	font-size: 1.5em;
	line-height: 1.4;
}