.r{
    font-family: 'UniSansHeavy';
    color:#030363;
    padding:2%;
}
.text{
    font-size:6em;
    line-height: 0.8;
    display: block;
    color:#030363;

}
.facts-container{
    margin-top:2%;
}
.title{
    width:85%;
    white-space: pre-line;
    font-size: 0.97em;
}

.facts{
    font-size:0.5em;
    font-style: italic;
    margin-top:2%;
}

.small{
    font-size:1.5em;
}