.r {
	position: relative;
	font-family: 'Intro';
	font-size: 1.2em;
    color: white;
}
.first {
	bottom: 33.1%;
    left: 57%;
    width: 33%;
    text-align: center;
}
.second {
    text-align: center;
	bottom: 24%;
    left: 49%;
    width: 35%;
    
}
.third {
    text-align: center;
    bottom: 14.5%;
    left: 42%;
    width: 35%;
}

