.r {
	flex-direction: column;
	position: relative;
	font-family: 'CoreSansGRegular';
	color:#fff;
}
.date {
	text-align: center;
    top: 14%;
    line-height: 3.5em;
}
.day {
	font-size: 5.5em;
}
.month {
	font-size: 2em;
}
.holiday {
	top: 40%;
    height: 9%;
    text-align: center;
}