.r{
  color:#fff;
  position: relative;

}
.positioned {
  position:absolute;
}
.name {
  width:60%;
}
.sender {
  width:65%;
}

.r div[class*="v4"] {
  font-family:'RoundsBlack';
  color:#3a3839;
  text-align:center;
  text-transform: uppercase;
}
.name-v4 {
  top:23%;
  font-size:1.5em;
  font-weight:500;
  width: 40%;
  left: 32%
}

.wish-text-v4 {
    top: 31%;
    font-size: 1em;
    width: 50%;
    left: 27%;

}
.sender-v4 {
  top:62%;
  width: 36%;
  left: 35%;
  font-size:0.6em;
  text-align:center;
}
.r div[class*="v1"] {
  font-family: 'RoundsBlack';
  color: #74c9de;
  text-align: center;
}
.name-v1 {
  top: 26%;
  width: 30%;
  left: 35%;
    font-size: 1.5em;
}
.sender-v1 {
  top: 79%;
  left: 48%;
  color: #ffff0d !important;
  font-size: 1.1em;
  transform: rotate(-15deg);
  width: 49%;
}
.wish-text-v1 {
  text-align: center;
    width: 62%;
    left: 20%;
    font-size: 1.2em;
    top: 35%;
    text-transform: uppercase;
    line-height: 1.2em;
}
.r div[class*="v3"] {
  font-family: 'StarSeedPro';
  color: #2a3239;
}
.name-v3 {
  color: #e43935 !important;
  font-size: 3.5em;
  top: 7%;
  left: 5%;
}
.sender-v3 {
  top: 59%;
  left: 5%;
  font-size: 1.7em;
  width: 64%;
}
.wish-text-v3 {
  width: 70%;
  top: 24%;
  left: 5%;
  line-height: 1.2;
  font-size: 1.4em;
}
.r div[class*="v2"] {
  font-family: 'AkrobatSemiBold';
  color: white;
  text-transform: uppercase;
}
.name-v2 {
  font-size: 1.7em;
  top: 22%;
  left: 28.5%;
  width: 42%;
  text-align: center;
}
.sender-v2 {
  top: 59%;
  left: 30.5%;
  font-size: 0.85em;
  width: 37%;
  text-align: center;
}
.wish-text-v2{
  line-height: 1.2;
  width: 52%;
  text-align: center;
  font-size: 1.1em;
  left: 23%;
  top: 30%;
}
.wish-text{}
.no-image{}