.r,.first,.second, .box{
    display: flex;
     font-family: 'BebasBold';
}
.first{
    width:32%;
    height:58%;
    flex-direction: column;
    margin:24% 0% 0 0;
}

.second{
    width:50%;
    height:84%;
    margin:2% 0% 2% 2%;
    flex-direction: column;
    padding-left:2%;
}
.box{
    flex-direction: column;
    margin:2.8%;
    margin-left:10px;
}

.country{
    font-size:0.5em;
    font-weight: bold;
}

.leader{
    font-size:0.45em;
    margin-left:2.5%;
}
.year{
    font-size:6em;
    height:28%;
    margin-left:2%;
    font-weight: bold;
}
.fact{
    line-height: 1.2;
    font-size:0.9em;
}

