.r,.first,.second, .box{
    display: flex;

}
.first{
    width:32%;
    height:58%;
    flex-direction: column;
    margin:25% 0 -0.7% 1.5%;
}

.second{
    width:50%;
    height:84%;
    margin:2% 0% 2% 2%;
    flex-direction: column;
    padding-left:2%;
    font-family: 'Tahoma';
}
.box{
    flex-direction: column;
    margin-left:9%;
    height: 10%;
    position: relative;
}

.country{
    font-size:0.55em;
    font-family: 'BebasBold';
}

.leader{
    font-size:0.45em;
    font-family: 'BebasRegular';
}
.year{
    font-size: 5.3em;
    height: 22%;
    padding-top: 2%;
    margin-left: 11%;
    font-weight: bold;
    font-family: "BebasBold";
}
.fact{
    line-height: 1.2;
    font-size:0.7em;
    padding-right: 2%;
}

