.r{
    font-family: 'UniSansHeavy';
    position: relative;
    background: white;
}
.date {
    right:6%;
    top:3%;
}
.text{
    font-size:6em;
    line-height: 0.8;
    color:#030363;
    font-weight: bold;
    transform: rotateY(180deg);
}
.small{
    font-size:1.5em;
}