.r{
    height:100%;
    color:white;
	font-family: 'BebasRegular';
	flex-direction: column;
	position: relative;


}

.no-image{

}
.artist-v1 {
    font-size: 1.7em;
    bottom: 88%;
    width: 52%;
    overflow: hidden;
    text-align: center;
    left: 24%;
}
.single-v1 {
    width: 58%;
	top: 13%;
	font-size:1.7em;
    left: 21%;
    text-align:center;
}
.artist-v2 {
	overflow:hidden;
	top: 30%;
    left: 2%;
    width: 38%;
    font-size: 2.8em;
    text-align: center;
    text-shadow: 0.04em 0.04em #a5a6a0;
}
.single-v2 {
	overflow:hidden;
    bottom: 71%;
    left: 2%;
    width: 38%;
    font-size: 2.1em;
    text-align: center;
    text-shadow: 0.04em 0.04em #a5a6a0;
}
.artist-v3 {
    color:#a8426d;
    bottom: 22%;
    width: 54%;
    left: 23%;
    text-align: center;
    font-size: 1.1em;
}
.single-v3 {
    color:#a8426d;
    bottom: 17%;
    width: 54%;
    left: 23%;
    text-align: center;
    font-size: 1.1em;
}