.r {
    position: relative;
}
.image{
    position: absolute;
    height:auto;
    width:62.1%;
    object-fit: contain;
    border:0;
    transform: rotate(-5deg);
    top: 13.6%;
    left: 14.6%;

}
.zaplatka {
    position: absolute;
    background: #dac09f;
    height: 20%;
    width: 37%;
    z-index: 1;
    bottom: 12.7%;
    right: 18.3%;
    transform: rotate(8deg);
}
.title {
    position: absolute;
    bottom: 4%;
    width: 49%;
    height: 27%;
    font-size: 1.3em;
    -webkit-transform: rotate(8deg);
    transform: rotate(8.6deg);
    right: 6%;
    font-family: 'AkrobatSemiBold';
    z-index: 2;
}