.r {
    color: white;
    position: relative;
    font-family: 'AkrobatSemiBold';
}
.text {
    text-align: right;
    position: absolute;
    right: 5%;
    bottom: 65%;
    line-height: 1.2;
    width: 73%;
}
.author {
    font-weight: 900;
    text-align: right;
    right: 5%;
    top: 39%;
    position: absolute;
}