.r{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'AkrobatSemiBold';
    font-size: 0.7em;
    color:white;
    padding-top:15%;
    box-sizing: border-box;
}

.text-name{
	width: 53%;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: #fde3e5;
}
