.r,.empty,.first,.second{
    display: flex;
}

.r{
    flex-wrap:wrap;
    font-family: 'Times New Roman';
    color: #525046;
    position: relative;
}

.year-text{
    font-size: 1em;
    position: absolute;

    top: 18.2%;
    left: 22.5%;


}

ul{
    margin:0;
    padding:0;
}
.li{
    font-size:0.6em;
    line-height: 1.2;
}
.empty{
    width:100%;
    padding-top:18%;
    height:25%;
}
.first{
    width:50%;
    height:75%;
    padding:18% 2% 2% 6%;
}

.second{
    display: flex;
    align-items: flex-start;
    padding:4% 2% 2% 6%;
    width:50%;
    height:75%;

}

