.r{
    text-align: center;
    flex-direction: column;
    color:white;
    padding-bottom:9%;
    font-family: 'Sylfaen';
}

.sport{
    display: flex;
    flex-direction: column;
    margin-top:1%;
    color:rgb(220,220,220);
}

.type{
    font-size:0.65em;
    color: #fcfafa;
}
.fact{
    font-size:0.5em;
}

.year {
    font-size:1.1em;
}