.r{
    flex-direction: column;
    color:white;
    padding-bottom:9%;
    font-family: 'Intro';
    color: black;
    position: relative;
}

.sport{
    flex-direction: column;
    margin-top:1%;
    margin-top: 0.5em;
}

.type{
    font-size:0.65em;
}
.fact{
    font-size:0.5em;
}

.year {
    font-size:6.1em;
    position: absolute;
    top: 4%;
    left: 40%;
    color: white;
}

.container {
    position: absolute;
    top: 23.5%;
    left: 36%;
    font-size: 1.4em;
    width: 58%;
}