.r{
    font-family: 'Tahoma';
}
.fact{
    width:36%;
    height:36%;
    margin:auto;
    text-align:center;
    margin-top:11%;
    font-size:0.8em;
    display:flex;
    align-items: center;
    justify-content: center;
}
.year{
    margin:auto;
    margin-top: 33%;
    text-align: center;
    font-size: 3.5em;
    font-family: 'Russian';
}
.title {
    text-align: center;
    position: relative;
    top: 1%;
    font-size: 1.1em;
    font-family: 'Russian';
    font-weight: bold;
}