.r{
    height:100%;
    padding-left:2%;
    font-family: 'BebasRegular';
}
.text{
    font-size: 1em;
    text-align: center;
    color:white;
    bottom: 10.5%;
    position: absolute;
    width: 100%;
    text-align: center;
}
