.r{
    flex-direction:column;
    border: 1px solid rgb(240,240,240);
    transition: all 0.3s;
    margin-top:29px;
    height:260px;
    width:510px;
    /*box-shadow: 2px 3px 2px rgb(190,190,190);*/
    font-size:20px;
}

.c{
    flex-wrap: wrap;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 10px;

}

.el{
    outline:none;

    margin:15px;
    margin-top:10px;
    width:70px;
    height:70px;
    border-width: 0;

}

.selected{
    border-color:black;
    outline: 2px solid black;
}

.el:hover{
    opacity:0.8;
}
@media screen and (max-width:520px) and (min-width:400px){
   .el{
        height:60px;
        width:60px;
        margin:10px;
    }
    .r{
        width:400px;
    }
}
@media screen and (max-width:399px){
    .el{
        height:55px;
        width:55px;
        margin:7px;

    }
    .r{
        width:315px;
    }
}





