.type-btns {
    display: flex;
    justify-content: center;
}
.type-btns div {
    width: 14%;
    padding: 2vh 0;
    text-align: center;
    border:1px solid black;
    min-width: 130px;
}
.type-btns div:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
.type-btns div:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.type-btns div:hover {
    transform: translateY(-0.1em);
    transition: 0.2s;
}
.type-btns div:active {
    transform: initial;
    transition: 0.2s;
}