.r {
	background-image:url('../../../../assets/img/banner.jpg');
	background-size: cover;
	background-position: center;
	height: 600px;
}
.text {
	width: 71%;
    font-size: 5em;
    color: white;
    font-family: 'GothamBlack';
}
@media screen and (max-width: 768px) and (min-width: 520px) {
	.r {
		height: 400px;

	}
}
@media screen and (max-width: 519px) and (min-width: 325px) {
	.r {
		height: 200px;
	}
}
@media screen and (max-width: 324px) {
	.r {
		height: 180px;
	}
}