.r {
  background: #a2e277;
  height: 620px;
  display: flex;
  flex-direction: row;
  padding: 4em 2em;
  font-family: 'RobotoMedium';
  width:100%;
  position: relative;
}
.container {
}

.anim div[class*="animation-appear-active"] {
  right: 10% !important;
  transition: 0.5s;
}
.anim div[class*="animation-enter"] {
  right: -10% !important;
  transition: 0.5s;
}
.anim div[class*="animation-enter-active"]
{
  right: 14% !important;
  transition: 0.5s;
}
.anim div[class*="animation-leave"] {
  opacity: 0.5;
}
.anim div[class*="animation-leave-active"] {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.anim2 div[class*="animation2-appear-active"] {
  top: 30%;
  transition: 1s;
}
.anim2 div[class*="animation2-enter"] {
  opacity: 0.01;
}
.anim2 div[class*="animation2-enter-active"]
{
   opacity: 1;
  transition: opacity 500ms ease-in;
}
.anim2 div[class*="animation2-leave"] {
  opacity: 1;
}
.anim2 div[class*="animation2-leave-active"] {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.tab {}
.first {
  color: #212121 ;
  position: relative;
}
.tabs {
}
.second {
  margin-bottom:-5%;
  padding-left: 5%;
}
.first, .second {
  width: 50%;
}
.tab {
  padding: 0.5rem 1vw;
  display: inline-block;
  font-size: 1.1em;
  /*font-weight: bold;*/
  cursor:default;
  border-radius: 0.85em;
  text-transform: uppercase;
}
.imgs {
  right:14%;
}
.text{
  font-size: 1.2em;
  font-family: 'RobotoRegular';
}
.imgs img {
  width: 100%;
}
@media screen and (max-width:768px) {
  .r {
    flex-direction: column;
    height: 700px;
    padding: 4em 0.5em;
  }
    .first, .second {
      width: 100%;
    }
  .second {
    order: 1;
    height: 38vh;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .first {
    order:2;
  }
  .tab {
    font-size:0.9rem;
  }
  .text, .title {
    text-align: center;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    font-size: 14px;
  }
}