.r{
    width: 100%;
    margin:auto;
    min-height: 200px;
    box-sizing: border-box;
    font-size: 1.3em;
    background: #fbc4c2;
    font-family: 'RobotoRegular';
    padding:0 5% 5%;
    flex-direction: column;
    align-items: center;

}
.revs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.animated-review {
    width: 30%;
}
.review-container {
    width:100%;
    flex-direction: column;
    /*position: absolute;*/
}

.review-photo {
    width: 135px;
    height: 135px;
    margin-bottom: 10px;
    margin:auto;
}
.review-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 5px #aaa;
}

.review {
    width:100%;
    padding:2%;
    box-sizing: border-box;
}
.review-text {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 0.8em;

}
.review-author{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
  margin-top: 4%;
}

.example-appear {
  opacity: 0.01;
}
.animated-review div[class*="example-appear-active"] {
  opacity: 0.3;
  transition: opacity .5s ease-in;
}
.animated-review div[class*="animation-enter"] {
  opacity: 0.1;
}
.animated-review div[class*="animation-enter-active"]
{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.animated-review div[class*="animation-leave"] {
  opacity: 1;
}
.animated-review div[class*="animation-leave-active"] {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.add-review {
  border: 0.07em solid #272323;
    border-radius: 0.15em;
    padding: 0.8em;
    margin-top: 50px;
    font-size: 0.9em;
    font-family: 'RobotoMedium';
    text-transform: uppercase;
    transition: 0.2s;
}
.add-review:hover {
  transform:matrix(1.03,0,0,1.03,0,-5);
}
.add-review:active {
  transform:scale(0.9);
}
@media screen and (max-width:920px) {
    .animated-review {
        width: 100%;
        margin-top: 15px;
    }
    .revs {
        flex-direction: column;
    }
    .review-text {
        width: 100%;
    }
}