.r {
    background: #ffe56a;
    min-height: 200px;
    padding:25px 0 25px 0;
    flex-direction: column;
    font-size: 1em;transition: 1s;
}
.youtube {
    border: none;
    width:60%;
    height: 520px;
    display: block;
    padding: 20px 0;transition: 1s;
}
.darkness {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(38, 38, 38, 0.79);
    top:0;
    left: 0;
    z-index:30;

    display: none;
}
/*.youtube:hover {
    z-index:131;
    position: relative;
}
.youtube:hover iframe {
    z-index: 130;
    position: relative;
}
.youtube:hover .darkness  {
    display: block;
}*/
.video {
    /*width:100%; */
}
.title {
    font-family: 'RobotoMedium';
    font-size: 2.3em;
    padding: 15px 0;
    color: #76631d;
}
@media screen and (max-width:1200px) {
    .r {
        height: 520px;
    }
    .youtube {
        height:400px;

    }
}
@media screen and  (max-width:800px) {
    .r {
        height: 420px;
    }
    .youtube {
        height:320px;
        width:70%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:500px) {
    .r {
        height: auto;
        font-size: 0.9em;
    }
    .youtube {
        height:200px;
        width:80%;
    }
}
@media screen and (max-width:330px) {
    .r {
        height: 220px;
    }
    .youtube {
        height:160px;
        width:80%;
    }
}