.container{
    /*border: 1px solid black;*/
}

.r{
    min-height: 200px;
}

.elem{
    max-width:450px;
    padding:30px 0 30px 0;

}

.one{
    width:60%;
}
.two{
    width:40%;
}



@media screen and (max-width:550px){
    .elem{
        width:100%;
        padding:20px 0 15px 0;
    }

}