.root{
    background-color: #5877ff;
    margin-top:5px;
    border:0;
    border-radius: 5px;
    max-width: 250px;
    padding:14px 25px 14px 25px;
    font-family: "RobotoRegular";

}
.root:hover{
    opacity:0.8;
}
.root:active {
    transform:scale(0.97);
    transition: 0.1s;
}
.text{
    color:white;
    font-weight: 400;
    font-size:16px;
}