.root{
    background-color: #5877ff;
    margin-top:15px;
    border:0;
    border-radius: 5px;
    max-width: 170px;
    padding:14px 17px 14px 17px;

}
.root:hover{
    opacity:0.8;
}
.text{
    color:white;
    font-weight: 400;
    font-size:16px;
}

