.r{
    top:0;
    left:0;
    height:120px;
    width:100%;
    align-items:center;
    background-color: white;
    box-shadow: -1px 0.5px 2px rgb(200,200,200);
    z-index:15;
}
.header{}
.logo{
    width:20%;
    justify-content: flex-start;
    padding-left:25px;
    cursor: pointer;
}

.image{
    height:90px;
    width:90px;
}

.upper-padding{
    padding-top:120px;
}

.links{
    width:40%;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
}
.menu-item {
    width:100%;
    text-decoration: none;
    text-align: center;
    margin-bottom:3%;
    font-size:1.3em;
    cursor:pointer;

}
.link {
    width: 100%;
    font-family: 'RobotoRegular';
}
.menu-link {
    color:#fff;
}
.close-btn {
    position:absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    outline: none;
    padding: 4% 0;
    font-size: 3em;
    background: #2f414f;
}
.close-btn:active {
    background: #25333e;
}

.icon {
    display: inline-block;
    width: 13%;
}
.open-btn {
    display: none;
}
.cart {
    cursor:pointer;
}
.cart:hover i {
    color:#757677;
}
.books {
    position: relative;
    height: 120px;
    line-height: 120px;
}
.links {
    font-family: 'RobotoMedium';
    font-weight: 900;
}
.links .d-item:hover {
    color: rgba(255, 0, 0, 0.91);
}
.dropdown {
    display:none;
    position: fixed;
    width: 100%;
    background: white;
    top: 120px;
    left: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.24);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.21);
    transition: 1s;
    line-height: 1;
    color:black !important;
    flex-direction: column;
    justify-content: space-between;
    padding:0 10%;
}
.dropdown-list {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.list-item {
    padding:1.5% 0 0.5% 0;
}
.list-item:hover {
    color: gray;
}
.list-item:first-child {
    border-bottom:4px solid #88bcff;
}
.list-item:nth-child(2) {
    border-bottom: 4px solid #ff8dd6;
}
.list-item:last-child {
    border-bottom:4px solid red;
}

@media screen and (max-width:830px) and (min-width:430px){
    .logo{
        width:30%;
    }
}

@media screen and (max-width:630px){
    .open-btn {
        display:block;
        position:absolute;
        z-index:101;
        right:3%;
        font-size: 1.85em;
        padding: 5px;
    }
    .logo{
        width:45%;
    }
    .image{
        height:60px;
        width:60px;
    }
    .links{
        display: none;
    }
    .cart{
        display: none
    }

    .r{
        height:70px;
    }
    .upper-padding{
        padding-top:70px;
    }


}