.r{
    padding:10%;
    width:40%;
    min-width:300px;
    background:white;
    font-size:25px;
    overflow:hidden;
    line-height: 1.5;
    text-align: center;
    white-space: pre-line;
    font-family:"BebasBold";
}